@import url('https://fonts.googleapis.com/css2?family=Noto+Emoji:wght@500&family=Anton&family=Raleway:wght@400;700&display=swap');

#root{
      height: calc(100% - 10rem);
    /* padding: 5rem; */
    width: 100%;
    overflow: auto;
}

.cell {
  animation: cellBackgroundAnimation 6s ease-in-out 0s infinite normal forwards;
  background-color: #686868;
  border: 2px solid #999999;
}

.cell:disabled {
  background-color: #1f1f1f;
  border: 2px solid #99999950;
}

.cell.one {
  color: #6767ff;
}

.cell.two {
  color: #448b44;
}

.cell.three {
  color: #ff7070;
}

.cell.four {
  color: #63367e;
}

.cell.five {
  color: #966937;
}

.cell.six {
  color: #3b8788;
}

.cell.seven {
  color: #514faa;
}

.cell.eight {
  color: #979797;
}

.counter {
  border: 2px solid yellow;
  color: yellow;
}

.counterNumber {
  font-family: 'Anton';
}

.counterDescription {
  font-family: 'Raleway';
}

.chooseDificulty>button {
  border: 2px solid #fff;
  font-family: 'Raleway';
}

.game {
  transition: background-color ease-in-out 0.5s;
  background-color: #171717;
  padding: 2rem;
  border-radius: 1rem;
  display: grid;
  gap: 5px;
  width: fit-content;
  height: fit-content;
}

.lost .game {
  background-color: #8a0000;
}

.win .game {
  background-color: #033807;
}

.emojiFace {
  font-family: 'Noto Emoji';
  font-size: 48px;
}

.svg {
  padding: 3px;
}

.debugInput {
  height: 30px;
}

.mockData-textarea {
  border-radius: 5px;
}

.easyGamemode, .normalGamemode, .hardGamemode {
  justify-content: center;
  width: 100%;
}

.pt-750 {
  padding-top: 750px;
}

@media only screen and (max-width: 1025px) {
  .hardGamemode {
    justify-content: right;
    padding-left: 15%;
  }
}

@media only screen and (max-width: 925px) {
  .hardGamemode {
    padding-left: 30%;
  }
}

@media only screen and (max-width: 810px) {
  .hardGamemode {
    padding-left: 45%;
  }
}

@media only screen and (max-width: 765px) {
  .hardGamemode {
    padding-left: 60%;
  }
}

@media only screen and (max-width: 740px) {
  .normalGamemode {
    justify-content: right;
    padding-left: 15%;
  }
}

@media only screen and (max-width: 676px) {
  .normalGamemode {
    padding-left: 25%;
  }
}

@media only screen and (max-width: 550px) {
  .normalGamemode {
    padding-left: 35%;
  }
}

@media only screen and (max-width: 480px) {
  .normalGamemode {
    padding-left: 45%;
  }
}

@media only screen and (max-width: 420px) {
  .easyGamemode {
    justify-content: right;
    padding-left: 35px;
  }

  .normalGamemode {
    padding-left: 60%;
  }
}